{% extends "base.html" %}
{% block content %}
<section class="presentation">
  <div class="presentation-container">
    <h1>Bienvenue sur notre plateforme des TPs d’Algorithmique</h1>

    <div class="groupe-info">
      <h2>Présentation du groupe</h2>
      <p><strong>Groupe :</strong> 1 </p>

      <h3>Membres :</h3>
      <ul>
        <li><i class="fas fa-user"></i> Arab Mehdi Abdelmalek <span>(Chef de groupe)</span></li>
        <li><i class="fas fa-user"></i> Hasnaoui Tahar</li>
        <li><i class="fas fa-user"></i> Abdel Kader Dahmani Youcef</li>
        <li><i class="fas fa-user"></i> Toumi Douaa Lyna</li>
        <li><i class="fas fa-user"></i> Ait Amer Meziane Sara</li>
        <li><i class="fas fa-user"></i> Ait Ahmed Sana</li>
      </ul>

      <p class="responsable">
        <strong><i class="fas fa-chalkboard-teacher"></i> Responsable du TP :</strong> Mme. Aroussi
      </p>
    </div>
  </div>
</section>
{% endblock %}